// Fonts
@font-face {
    src: url(../fonts/Montserrat/Montserrat-ExtraLight.ttf);
    font-family: Mont;
    font-weight: 100;
}

@font-face {
    src: url(../fonts/Montserrat/Montserrat-Light.ttf);
    font-family: Mont;
    font-weight: 200;
}

@font-face {
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
    font-family: Mont;
    font-weight: 300;
}

@font-face {
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
    font-family: Mont;
    font-weight: 400;
}

@font-face {
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
    font-family: Mont;
    font-weight: 500;
}

@font-face {
    src: url(../fonts/Montserrat/Montserrat-Black.ttf);
    font-family: Mont;
    font-weight: 600;
}

// Italics
@font-face {
    src: url(../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf);
    font-family: MontI;
    font-weight: 100;
}

@font-face {
    src: url(../fonts/Montserrat/Montserrat-LightItalic.ttf);
    font-family: MontI;
    font-weight: 200;
}

@font-face {
    src: url(../fonts/Montserrat/Montserrat-MediumItalic.ttf);
    font-family: MontI;
    font-weight: 400;
}

@font-face {
    src: url(../fonts/Montserrat/Montserrat-BoldItalic.ttf);
    font-family: MontI;
    font-weight: 500;
}

@font-face {
    src: url(../fonts/Montserrat/Montserrat-BlackItalic.ttf);
    font-family: MontI;
    font-weight: 600;
}

// Font Icons
@font-face {
    font-family: 'icon';
    src: url(../fonts/ElegantIcons/ElegantIcons.ttf)
}

@font-face {
    font-family: 'icon';
    src: url(../fonts/ElegantIcons/ElegantIcons.woff)
}

@font-face {
    font-family: 'icon';
    src: url(../fonts/ElegantIcons/ElegantIcons.eot)
}

// Variables
@fuente1: Mont;
@fuente2: MontI;
@mColor: #111;
// Format
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

[class^='icon-'],
[class*=' icon-'] {
    font-family: 'icon'
}

.icon-car::before {
    content: "\e015"
}

.icon-lupa::before {
    content: "\0055"
}

// All
body {
    background: url(../img/gardner.jpg) no-repeat center center fixed;
    background-size: cover;
    // Header
    header {
        background: rgba(255, 255, 255, 0.0);
        box-sizing: border-box;
        padding: 100px;
        position: fixed;
        width: 100%;
        div.cHeader {
            margin: auto;
            max-width: 1200px;
            width: 90%;
            a.logo {
                color: @mColor;
                float: left;
                font-family: @fuente1;
                font-size: 30px;
                font-weight: 600;
                margin-right: 50px;
                p {
                    font-weight: 200;
                    font-size: 10px;
                    float: right;
                    margin-top: 5px;
                    margin-left: 10px;
                }
            }
            nav {
                //float: left;
                margin: auto;
                text-align: center;
                width: 400px;
                a {
                    background: #fff;
                    border-radius: 50px;
                    color: @mColor;
                    display: inline-block;
                    font-family: @fuente1;
                    font-size: 16px;
                    font-weight: 400;
                    padding: 10px 20px;
                    text-align: center;
                    transition: all ease 0.3s;
                    &:hover {
                        background: #000;
                        color: #fff;
                        letter-spacing: 3px;
                        transition: all ease 0.3s;
                    }
                }
            }
            div.carrito {
                background: #fff;
                border-radius: 50px;
                float: right;
                padding: 10px 20px;
                transition: all ease 0.3s;
                margin-top: -40px;
                a {
                    font-family: @fuente1;
                    font-size: 16px;
                    font-weight: 200;
                    span.contCart {
                        background: #cc0033;
                        border-radius: 20px;
                        box-sizing: border-box;
                        color: #fff;
                        display: block;
                        font-size: 12px;
                        font-weight: 300;
                        height: 20px;
                        padding: 2px 5px 5px 5px;
                        position: absolute;
                        text-align: center;
                        width: 20px;
                        margin-top: -20px;
                        margin-left: 43px;
                    }
                }
                &:hover {
                    background: #000;
                    transition: all ease 0.3s;
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
    section#main {
        display: block;
        padding-top: 300px;
        width: 100%;
        .search {
            margin: auto;
            text-align: center;
            width: 90%;
            h2 {
                background: url(../img/palmsleafs.jpg) no-repeat center center fixed;
                background-size: contain;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                color: #000;
                font-size: 80px;
                font-family: @fuente1;
                font-weight: 600;
            }
            p {
                font-family: @fuente1;
                font-weight: 100;
                font-size: 20px;
                padding: 20px 0;
                margin-bottom: 30px;
            }
            div#form {
                input#nombreProducto {
                    font-family: @fuente1;
                    font-weight: 200;
                    font-size: 20px;
                    border: 1px solid #ddd;
                    border-radius: 100px;
                    color: @mColor;
                    padding: 20px;
                    outline: none;
                    background: rgba(255, 255, 255, 1);
                    margin: 20px 0;
                    max-width: 500px;
                    text-align: center;
                    transition: all ease 0.3s;
                    width: 100%;
                    &:focus {
                        transition: all ease 0.3s;
                        border-color: #000;
                    }
                }
                button {
                    border: none;
                    cursor: pointer;
                    font-size: 20px;
                    /* position: absolute; */
                    /* bottom: 300px; */
                    margin-left: -45px;
                    background: none;
                    padding-top: 4px;
                }
            }
            div#form2 {
                form {
                    select {
                        background: #f1f1f1;
                        border: none;
                        border-radius: 50px;
                        -webkit-appearance: none;
                        cursor: pointer;
                        display: inline-block;
                        outline: none;
                        padding: 10px 20px;
                        transition: all ease 0.3s;
                        text-align: center;
                        text-align-last: center;
                        font-family: @fuente1;
                        font-weight: 400;
                        font-size: 14px;
                        margin: 0 5px;
                        &:focus {
                            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
                            transition: all ease 0.3s;
                        }
                    }
                }
            }
        }
        #content {
            box-sizing: border-box;
            margin: auto;
            margin-top: 30px;
            margin-bottom: 100px;
            max-width: 1000px;
            width: 90%;
            .row {
                background: #fff;
                box-sizing: border-box;
                border-radius: 10px;
                padding: 30px;
                width: 100%;
                div.case {
                    background: #fff;
                    box-sizing: border-box;
                    border-radius: 10px;
                    border: 1px solid #fff;
                    cursor: pointer;
                    display: inline-block;
                    padding: 20px;
                    transition: all ease .3s;
                    width: 33%;
                    .window-back {
                        background: rgba(0, 0, 0, 0.7);
                        bottom: 0;
                        left: 0;
                        opacity: 1;
                        //height: 90%;
                        padding-top: 5%;
                        pointer-events: none;
                        position: fixed;
                        right: 0;
                        transition: all 0.3s ease;
                        top: 0;
                        width: 100%;
                        .window-content {
                            overflow: auto;
                            button.close {
                                float: right;
                                background: #fff;
                                border: none;
                                cursor: pointer;
                                font-size: 30px;
                                /* margin-bottom: 30px; */
                                position: relative;
                                top: -20px;
                                right: -10px;
                            }
                            h4.modal-title {
                                font-family: @fuente1;
                                font-weight: 600;
                                font-size: 30px;
                                padding-left: 22px;
                                padding-top: 0px;
                                margin-bottom: -35px;
                            }
                            p.price-window {
                                font-family: @fuente1;
                                font-weight: 100;
                                float: right;
                                font-size: 40px;
                                display: block;
                                margin-top: 75px;
                            }
                            p.des {
                                font-family: @fuente1;
                                font-size: 14px;
                                font-weight: 100;
                                float: left;
                                width: 36%;
                                line-height: 23px;
                                margin-top: 40px;
                            }
                            img {
                                float: left;
                                margin-right: 20px;
                                width: 60%;
                            }
                            .addToCart{
                                border: 1px solid #000;
                                border-radius: 30px;
                                background: none;
                                padding: 10px 20px;
                                font-family: @fuente1;
                                font-weight: 200;
                                color: #000;
                                float: right;
                                margin-top: 50px;
                                cursor: pointer;
                                &:hover{
                                    background: #000;
                                    color: #fff;
                                }
                            }
                            #feedC{
                                opacity: 1;
                                float: left;
                                margin-top: 60px;
                                margin-left: 100px;
                                font-family: @fuente1;
                                font-weight: 500;
                                font-size: 12px;
                                color: #009d42;
                            }
                            p.datosAdd {
                                width: 100%;
                                span.circle{
                                        box-sizing: border-box;
                                        //border: 1px solid #000;
                                        display: block;
                                        height: 17px;
                                        float: left;
                                        margin-right: 15px;
                                        width: 17px;
                                        border-radius: 30px;
                                }
                            }
                        }
                    }
                    .line {
                        border: 1px solid #555;
                        height: 0px;
                        position: relative;
                        width: 50%;
                        float: left;
                        left: 57px;
                        top: 120px;
                        opacity: 0;
                        transition: all ease .3s;
                        transform: scale(0.0);
                    }
                    .vert {
                        transform: rotate(90deg) scale(0.1);
                    }
                    img {
                        width: 100%;
                    }
                    &:hover {
                        border-color: #ddd;
                        transition: all ease .3s;
                        //opacity: 0.8;
                        h3 {
                            color: #000;
                            transition: all ease .3s;
                        }
                        .line {
                            opacity: 1;
                            transition: all ease .3s;
                            transform: scale(1);
                        }
                        .vert {
                            transform: scale(1) rotate(90deg);
                            transition: all ease .3s;
                        }
                        img.img-responsive {
                            transition: all ease .3s;
                            opacity: 0.8;
                        }
                    }
                    h3 {
                        font-family: @fuente1;
                        font-size: 16px;
                        font-weight: 600;
                        float: left;
                        color: #555;
                        text-transform: uppercase;
                        transition: all ease .3s;
                    }
                    p {
                        float: right;
                        font-family: @fuente1;
                        font-size: 16px;
                        font-weight: 100;
                        transition: all ease .3s;
                    }

                    span.ava{
                        width: 50px;
                        height: 50px;
                        border-radius: 60px;
                        display: block;
                        text-align: center;
                        font-family: @fuente1;
                        font-size: 10px;
                        padding-top: 13px;
                        box-sizing: border-box;
                        font-weight: 400;
                        background: #444;
                        float: right;
                        margin-top: -190px;
                        z-index: 9;
                        transform: rotate(-30deg);
                        margin-left: -16px;
                        position: absolute;
                        color: #fff;
                    }
                }
            }
        }
    }
    footer {
        box-sizing: border-box;
        bottom: 0;
        display: block;
        font-family: @fuente1;
        font-weight: 200;
        font-size: 12px;
        opacity: 0.5;
        padding: 0 10% 30px 10%;
        //position: fixed;
        right: 0;
        left: 0;
        transition: all ease 0.3s;
        width: 100%;
        &:hover {
            opacity: 1;
            transition: all ease 0.3s;
        }
        .allFooter {
            box-sizing: border-box;
            margin: 0 auto;
            max-width: 1000px;
            width: 90%;
            div {
                display: inline-block;
                float: left;
                width: 33%;
                box-sizing: border-box;
                min-width: 300px;
                padding: 0 50px 50px 50px;
                a.logo {
                    color: #000;
                    font-family: @fuente1;
                    font-weight: 600;
                    font-size: 16px;
                }
                a.link {
                    color: #000;
                    font-weight: 500;
                    display: block;
                    padding: 5px 0;
                    &:hover {
                        text-decoration: line-through;
                    }
                }
            }
            div.three {
                img {
                    margin-right: 10px;
                    width: 40px;
                }
            }
        }
    }
    div.lateral {
        position: fixed;
        bottom: 150px;
        right: 20px;
        transform: rotate(-90deg);
        p {
            font-family: @fuente1;
            font-weight: 300;
            font-size: 10px;
            color: #111;
            a {
                color: #111;
                &:hover {
                    text-decoration: line-through;
                }
            }
        }
    }
    #about-us {
        background: rgba(0, 0, 0, 0.7);
        bottom: 0;
        left: 0;
        opacity: 0;
        height: 100%;
        padding-top: 5%;
        pointer-events: none;
        position: fixed;
        right: 0;
        transition: all 0.3s ease;
        top: 0;
        width: 100%;
        &:target {
            opacity: 1;
            pointer-events: all;
            transition: all ease 0.3s;
        }
        div.window {
            background: #fff;
            box-sizing: border-box;
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
            margin: 0 auto;
            max-width: 500px;
            max-height: 600px;
            padding: 50px;
            //position: fixed;
            width: 90%;
            div.background {
                background: url(../img/bg-w.jpg) top center no-repeat fixed;
                background-size: cover;
                box-sizing: border-box;
                padding: 30px;
                a.close {
                    color: #000;
                    font-family: @fuente1;
                    font-size: 11px;
                    font-weight: 200;
                    position: absolute;
                    margin-left: 368px;
                    margin-top: -62px;
                    &:hover {
                        text-decoration: line-through;
                    }
                }
                h3 {
                    font-family: @fuente1;
                    font-size: 30px;
                    font-weight: 600;
                    margin-bottom: 15px;
                    text-align: center;
                }
                p {
                    font-family: @fuente1;
                    font-weight: 200;
                    text-align: center;
                    font-size: 13px;
                    line-height: 20px;
                    i {
                        color: #222;
                        font-weight: 500;
                    }
                }
            }
        }
    }


    #contact {
        background: rgba(0, 0, 0, 0.7);
        bottom: 0;
        left: 0;
        opacity: 0;
        height: 100%;
        padding-top: 5%;
        pointer-events: none;
        position: fixed;
        right: 0;
        transition: all 0.3s ease;
        top: 0;
        width: 100%;
        &:target {
            opacity: 1;
            pointer-events: all;
            transition: all ease 0.3s;
        }
        div.window {
            background: #fff;
            box-sizing: border-box;
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
            margin: 0 auto;
            max-width: 500px;
            max-height: 600px;
            padding: 50px;
            //position: fixed;
            width: 90%;
            div.background {
                background: url(../img/bg-w.jpg) top center no-repeat fixed;
                background-size: cover;
                box-sizing: border-box;
                padding: 30px;
                a.close {
                    color: #000;
                    font-family: @fuente1;
                    font-size: 11px;
                    font-weight: 200;
                    position: absolute;
                    margin-left: 368px;
                    margin-top: -62px;
                    &:hover {
                        text-decoration: line-through;
                    }
                }
                h3 {
                    font-family: @fuente1;
                    font-size: 30px;
                    font-weight: 600;
                    margin-bottom: 15px;
                    text-align: center;
                }
                p {
                    font-family: @fuente1;
                    font-weight: 200;
                    text-align: center;
                    font-size: 13px;
                    line-height: 20px;
                    i {
                        color: #222;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    #yourCart {
        background: rgba(0, 0, 0, 0.7);
        bottom: 0;
        left: 0;
        opacity: 0;
        height: 100%;
        padding-top: 5%;
        pointer-events: none;
        position: fixed;
        right: 0;
        transition: all 0.3s ease;
        top: 0;
        width: 100%;
        &:target {
            opacity: 1;
            pointer-events: all;
            transition: all ease 0.3s;
        }
        div.window {
            background: #fff;
            box-sizing: border-box;
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
            margin: 0 auto;
            max-width: 500px;
            max-height: 600px;
            padding: 50px;
            //position: fixed;
            width: 90%;
            div.background {
                background: url(../img/bg-w.jpg) top center no-repeat fixed;
                background-size: cover;
                box-sizing: border-box;
                padding: 30px;
                a.close {
                    color: #000;
                    font-family: @fuente1;
                    font-size: 11px;
                    font-weight: 200;
                    position: absolute;
                    margin-left: 368px;
                    margin-top: -62px;
                    &:hover {
                        text-decoration: line-through;
                    }
                }
                h3 {
                    font-family: @fuente1;
                    font-size: 30px;
                    font-weight: 600;
                    margin-bottom: 15px;
                    text-align: center;
                }
                p {
                    font-family: @fuente1;
                    font-weight: 200;
                    text-align: center;
                    font-size: 13px;
                    line-height: 20px;
                    i {
                        color: #222;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
